# Example project configuration file
# Copy to hwconfig.user and edit as appropriate
# See doc/parameterization.md for more details

name: example
productionsilicon: y
board: pciecc

# This example specifies two paths: One which processes data directly from a
# CSI receiver, and one which processes images in DRAM via DMA.  Both return
# the images to DRAM using DMA.
hw:
- type: dma
  name: dma0
  outputto: canny
- type: hls
  name: canny
  path: /nobackup/sebell/work/ultrazed/ip_repo/xilinx_com_hls_hls_target_1_0/
  outputto: dma0

# The IO pin locations must be specified for the CSI board, with the I2C number
# Valid combinations are:
# AB6 / AD8 / AE7
# AD4 / AD1 / AE4
# W4 / W1 / AA4
# R2 / U1 / N1

- type: csi
  name: cam0
  clk_loc: AB6
  data0_loc: AD8
  data1_loc: AE7
  path: /nobackup/sebell/work/ultrazed/ip_repo/vlsiweb.stanford.edu_csi_axi_csi_1.1/
  outputto: demosaic0
- type: hls
  name: demosaic0
  path: /nobackup/sebell/work/ultrazed/ip_repo/xilinx_com_hls_hls_target_1_0/
  outputto: dma1
- type: dma
  name: dma1
